{% extends "base.html" %}
{% block title %}Driver Dashboard{% endblock %}
{% block page %}App Credentials{% endblock %}
{% block content %}
{% load static %}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">App Credential Form</h4>
                <p class="text-muted mb-4">Basic example to demonstrate Bootstrap's form styles.</p> 
                <form>
                    <div class="form-group">
                        <label for="exampleInputPhone1">Phone number</label>
                        <input type="tel" class="form-control" id="exampleInputPhone1" aria-describedby="phoneHelp" placeholder="Enter phone number">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your Phone with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Enter your Driver App Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">This password You will use to log in into the driver app.</small>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'pageStart' %}" type="button" class="btn btn-danger">Cancel</a>
                </form>                                           
            </div><!--end card-body-->
        </div><!--end card-->
        
        <div class="card card-body">
            <h4 class="card-title mt-0">Dowload the driver App</h4>
            <p class="card-text text-muted font-13">Steps to follow :</p>
            <ol>
                <li>enter your phone number and create a password (form above)</li>
                <li>downlad the app (button below)</li>
                <li>enter the companiy id: <code class="highlighter-rouge">trans-b</code></li>
                <li>enter the username you are using in this account <code class="highlighter-rouge">{{user.username}}</code> </li>
                <li>enter the password you created in the App Credential Form</li>
            </ol>
                
            <a href="#" class="btn btn-primary ">Go somewhere</a>
        </div><!--end card-->
        
    </div><!--end col-->
    
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img img-fluid" src="{% static 'assets/images/welcome_app.png' %}" alt="Card image">
            <div class="card-img-overlay">
            </div>
        </div><!--end card-->
    </div><!--end col-->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img img-fluid" src="{% static 'assets/images/login_app.png' %}" alt="Card image">
            <div class="card-img-overlay">
                
            </div>
        </div><!--end card-->
    </div><!--end col-->
</div>
{% endblock %}
