{% extends "base.html" %}
{% block title %}Driver Dashboard{% endblock %}
{% block page %}Home Page{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-5">
        <div class="ribbon-1">
            <div class="ribbon-box">
                <div class="ribbon ribbon-mark ribbon-icon bg-danger"><i class="fas fa-star"></i></div>
                    <div class="card-body">        
                        <h4 class="mt-0 header-title">Conditions</h4>
                        <p class="text-muted mb-4 font-13">Ces conditions doivent être remplies dans votre application pilote pour être approuvées.</p>

                        <ul class="mb-0">
                            <li>Permis de conduire du Québec</li>
                            <li>Assurance du véhicule</li>
                            <li>Permis d'éligibilité à travailler</li>
                            <li>Immatriculation du véhicule</li> 
                            <li>Inspection du véhicule</li>
                            <li>Attestation de formation pour chauffeurs</li>
                            <li>Numéro d'enregistrement fiscal (TPS, TVQ)</li>
                            <li>Photo de profile</li>
                        </ul>
                    </div><!--end card-body-->
                
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="ribbon-1">
            <div class="ribbon-box">
                <div class="ribbon ribbon-mark ribbon-icon bg-info"><i class="fas fa-star"></i>
                </div>
                <div class="card-body">        
                    <h4 class="mt-0 header-title">Règlements</h4>
                    <p class="text-muted mb-4 font-13">Pour assurer un excellent environnement de travail pour nous tous, tous les conducteurs doivent respecter ces règles.</p>

                    <ul class="mb-0">
                        <li>Maximum heures de travail: 12 heures</li>
                        <li>Interdiction de fumer dans la voiture</li>
                        <li>Ne criez pas et ne soyez pas frustré si la circulation vous met en retard</li>
                        <li>Être poli et bref</li>
                        <li>Modération de la musique à bord</li>
                        <li>Mettre la plaquette «Taxi Livriris» visible à tout le monde</li>
                        <li>Respecter les modèles de paiement</li>
                        <li>Ne pas répondre aux appels téléphoniques pendant la conduite</li>
                    </ul>
                </div><!--end card-body-->
            </div>
        </div>
    </div>
</div>
{% endblock %}